
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

#navbar{
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar{
    background: #131313;
    height: 80px;
    /*changes the positioning to place it to the right of the element*/
    display: flex;
    /*allows you to set alignment of items inside grid*/
    justify-content: center;
    /*default alignment inside the container*/
    align-items: center;

    font-size: 1.2rem;
    position: sticky;
    z-index: 999;

}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    /*NOTE, if i only do two numbers, it will pair the first number to top/bottom and second to left/right*/
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo{
    color: deepskyblue;
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;

}

.fa-gem{
    margin-right: .5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}



.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: deepskyblue;
    color: white;
}

.button:hover {
    background: #005c7e;
    transition: all 0.3s ease;
}

.button:active{
    color: #005c7e;
}


.navbar__links:hover{
    color: deepskyblue;
    border-bottom: 4px solid deepskyblue;
    transition: all 0.2s ease;

}
.navbar__links:active{
    color: deepskyblue;
}


.landing__container{
    background: #8c8c8c linear-gradient(to top, #cbcbcb 0%, #ffffff 100%);
    height: 100vh;
}



.mainHeading__text{
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    position: absolute;
    font-size: 5vw;
    top: 40%;
    left: 10%;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}


.aboutme__container{
    background-color: aquamarine;
    height: 100vh;
}

.aboutme__heading{
    position: relative;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 50%;
    font-size: 10vw;
}



/*When the threshold of 960px is hit the site will change to mobile*/
@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /*this is done so that it is never seen until clicked, it glides in after clicked*/
        top: -1000px;
        opacity: 1;
        height: 50vh;
        z-index: -1;
    }
    /* the java script will trigger this */
    .navbar__menu.active{
        background: #131313;
        top: 100%;
        transition: all 0.5s ease;
        z-index: 999;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        color: deepskyblue;
        text-decoration: none;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;

    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    /*This will allow for animating the bars*/
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .mainHeading__text{
        font-size: 8vw;
    }
    
}








